* {
    font-family: Inter;
    scrollbar-width: thin;
    scrollbar-color: #d6d3d1 #f5f5f4;   
}

.right-links li {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.right-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:flex;
    margin-top: 16px;
    justify-content:center;
    gap: 32px;
}

.right-links a {
    color: black;
    text-decoration: none;
}

body {
    margin-left: 200px;
    margin-right: 200px;
}

/* Header */

.logo {
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.header {
    padding: 36px;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
} 

.hero-photo {
    width: 800px;
    height: 500px;
}


/* Body */

.main-text p { 
  text-indent: 4em; /* or 15px, or 5%, 2rem or 3vw */
  font-size: 24px;
}



/* Bottom Part */

.footer {
    display:flex;
    align-items: center;
    justify-content: center;
}